/* Commun à toutes les pages */
body{
    background-color: rgba(255, 166, 0, 0.207);
    
}

.icon{
    width: 2em;
    height: 2em;
}

h1{
    text-align: center;
    text-shadow: 1px 5px wheat;
    background: url(media/tennis-terrebattues.jpg);
    background-size:auto;
    
}

nav{
    background-color: rgba(255, 166, 0, 0.207);
}



h2{
    text-decoration: underline;
    color: black;
    text-shadow: 3px 2px rgba(150, 240, 15, 0.974);
    text-align: center;
    font-size:3vh;
}

.logo{
    align-items: center;
    width: 5em;
    height: 5em;
    margin-bottom: 10px;
}

ul, li{
    list-style-type: none;
       
}

 footer li {
   
     display: inline;
  
}

footer{
    padding: 40px;
    background-color: rgba(255, 166, 0, 0.638);
}


/* page Accueil */

.LastNews{
    background-color: yellow;
}

article, aside{
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    
}

img{
    height: auto;
    width: auto;
    
}

.raquette{
    height: 20px;
    width: 20px;
}

article{
    background-color:rgba(247, 139, 8, 0.434);
    margin: 10px;
        
}

aside{
    background-color: rgba(157, 255, 9, 0.199);
    
}


.dirigeants{
 text-align: center;
 font-weight:bold;
 
}

h2{
    background-color: brown;
    margin: 10px;
    
}

.Column1{
    margin: 10px;
}

.maps{
    border-radius: 10px;
    margin: 10px;
}


.RightSide{
    color: black;
    text-align: center;
}


.HistoireDuClub{
    text-decoration: underline;
    font-weight: bolder;
}


/* Page Vie du Club */


div.card{
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}

/* Equipe Mascuile */

.Equipe_Masculine{
    margin: 5px 10px;
}

.Equipe_Masculine,div{
    margin: 10px;
}

.Equipe_Feminine,div{
    margin: 10px;
}

/* Page Equipe */
.menuEquipe {
    display: flex;                                  
    justify-content:center;
}

.menuEquipe a {
    display:block;                
    min-width: 12px;              
    margin: 10px;               
    padding: 1rem;            
    text-align: center;             
      background-color: orangered; 
    color: #fff;                  
    text-decoration: none;        
    border: 1px solid #fff;       
    border-radius: 4px;          
    transition: all 1s;         
}
.menuEquipe a.actif {    
    background-color:red; 
    color: white;
    border-color:white;
}

.menuEquipe a:hover, .menuEquipe a:hover.actif{
    background-color:rgb(238, 255, 0);
    color: red;
    border-color: red;
}

table, thead, tbody, tr, td{
    border: 1px solid grey;
    color: black;
   margin:10px;

}

thead{
    background-color: gray;
}

tbody{
    background-color: azure;
}



.titreequipe{
    margin-left: 40px;
    margin-right: 40px;
}

.tableau{
    margin-bottom: 20px;
   
}




/* Page Contact */

.contact{
    color: rgb(228, 148, 9);
    text-align: center;
}

.textcontact{
    font-size:xx-large;
}

form{
    border: 15px groove grey;
    border-radius: 5px;
    background-color:coral;
}

